@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-blue-900 mb-2 text-xl;
}

h3 {
	@apply text-blue-900 mb-4 text-lg font-semibold;
}

input,
textarea {
	@apply block w-full bg-white border border-blue-300 text-blue-900 py-2 px-4 rounded mb-2;
}

input:focus,
textarea:focus {
	@apply border-blue-900;
}

label {
	@apply text-blue-900;
}

.btn-primary {
	@apply bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2;
}

.btn-edit {
	@apply bg-blue-700 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2;
}

.btn-delete {
	@apply bg-red-700 hover:bg-red-600 text-white font-bold py-2 px-4 rounded;
}

.check-input {
	display: flex;
	width: 30px;
	margin-top: 2px;
	margin-bottom: 10px;
}

select {
	@apply block w-full bg-white border border-blue-300 text-blue-900 py-2 px-4 rounded mb-4;
}
